.auth-page {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    padding: 15px;
    background-color: #f2f7fa;
    opacity: .9;
    border-radius: 5px;
    min-width: 325px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &__title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: .5rem;
  }
  &__form-label {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
  }
  &__form-input,
  &__form-button {
    background-color: #f2f7fa;
    border: 1px solid #090a0c;
    color: #1a232a;
    padding: 0px 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-weight: 300;
    margin-right: .5rem;
    width: 100%;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &__form-button {
    margin-right: 0;
    background-color: #090a0c;
    border: 1px solid #b4dbe8;
    color: #fbfbfb;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: #738493;
      color: #fbfbfb;
    }
  }
}






 
