.header {
  height: 80px;
  position: relative;
  background-color: #f2f7fa;
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__logo {
    display: flex;
    color: #090a0c;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
  &__menu {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  &__menu-link {
    color: #090a0c;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
  &__menu-link:hover {
    color: #f2f7fa;
    background-color: #738493;
  }
  &__menu-link--active {
    color: #f2f7fa;
    background-color: #738493;
    border: 1px solid #b4dbe8;
  }
  &__account {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
  }
  &__account-link {
    height: 40px;
    width: 40px;
    background-color: #090a0c;
    border: 1px solid #b4dbe8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 1rem;
    transition: all .2s ease-in-out;
  }
  &__account-link:hover {
    background-color: #738493;
  }
  &__account-link:last-child {
    margin-right: 0;
  }
  &__account-link i {
    color: #f2f7fa;
    font-size: 1.2rem;
  }
}