.account-layout {
  .listings-city {
    position: relative;
    background-color: #090a0c;
    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 4rem;
      font-weight: 700;
      color: #fbfbfb;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center;
      opacity: .8;
    }
  }
  .content {
    padding: 75px 0px;
  }
  .account__menu {
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    h2 {
      color: #1a232a;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    a {
      display: block;
      text-decoration: none;
      color: #1a232a;
      font-size: 1rem;
      transition: all .2s ease-in-out;
      &:hover {
        color: #738493;
      }
    }
  }
  .listings-properties {
    &__item {
      display: block;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-bottom: 1.5rem;
      position: relative;
      text-decoration: none;
    }
    img {
      width: 100%;
      height: 225px;
      object-fit: cover;
      object-position: center;
    }
    &__saved {
      height: 40px;
      width: 40px;
      background: #090a0c;
      border: 1px solid #b4dbe8;
      color: #fbfbfb;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      right: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      transition: all .2s ease-in-out;
      cursor: pointer;
      &:hover,
      &--active {
        background-color: #f2f7fa;
        border: 1px solid #ff0000;
        color: #ff0000;
      }
    }
    &__item-price {
      display: block;
      color: #1a232a;
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: .5rem;
      &:hover {
        color: #ff0000;
      }
    }
    &__item-details {
      font-size: 1.1rem;
      display: block;
      color: #738493;
      margin-bottom: .5rem;
      &:hover {
        color: #ff0000;
      }
    }
    &__item-address {
      font-size: .9rem;
      display: block;
      color: #1a232a;
      margin-bottom: .5rem;
      text-transform: capitalize;
      &:hover {
        color: #ff0000;
      }
    }
    &__item-line {
      background-color: #738493;
      height: 1px;
    }
    &__item-agent {
      font-size: .9rem;
      display: block;
      color: #1a232a;
      text-transform: capitalize;
      text-align: center;
    }
  }
}